
body{
  width: 100vw;
  height: 100vh;
}

.bg-adm{
  background-color: rgb(134, 134, 136);
}

.bg-fundo{
  background-color: rgb(136, 134, 134);;
}

::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

.btn:hover{
  box-shadow: 5px 5px 5px black;
}

.logout:disabled{
  border: none;
  background-color: transparent;
}

#login{
  width: 50px;
}

.cargos{
  overflow-y: scroll;
}

 input label{
  text-align: center;
}

.loading{
  
}