{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_superuser %}
    <div class="row mt-3">
      <div class="container col border rounded text-center border-0 align-middle" style="
            background-color: rgb(134, 134, 136);
            margin-right: 5px;
            height: 70vh;
            overflow-y: auto;
            justify-content: center;
          ">
        <div class="bg-adm position-fixed rounded" style="width: 20.1%; margin-left: -5px">
          <h3 class="">Lista de cargos</h3>
        </div>
        <div class="" style="margin-top: 50px">
          {% for cargo in cargos %}
            <button id="botton" class="btn btn-primary btn-sm mb-1 col-12" style="background-color: darkslategrey">{{ cargo.name }}</button>
          {% endfor %}
        </div>
      </div>

      <div class="box border rounded-2 col border-0" style="
            height: 70vh;
            margin-right: 5px;
            background-color: rgb(136, 134, 134);
          ">
        <h4 class="text-center">Cargo</h4>
        <p class="text-center">Nomes indicados</p>

        <button class="w-100 btn btn-sm btn-success bottom-center" data-toggle="button">Finalizar Indicação</button>
      </div>

      <div class="box border rounded-2 col border-0" style="
            height: 70vh;
            margin-right: 5px;
            background-color: rgb(136, 134, 134);
          ">
        <h4 class="text-center">Votação</h4>
      </div>
      <div class="box border rounded-2 col border-0 mb-0" style="height: 70vh; background-color: rgb(136, 134, 134)">
        <h4 class="text-center">Resultado</h4>
      </div>
    </div>
  {% else %}
    <div class="row mt-3" style="height: 70vh;">
      <div class="box bg-light border rounded-2 col">
        <h4 class="text-center">Cargo</h4>
        <p class="text-center">Nomes indicados</p>
        <div class="row justify-content-center">
          <input class="col-auto border-rounded-2" type="text" style="margin-left: 5px; width: 50%" />
          <button class="btn btn-success col-auto" data-toggle="button" style="margin-left: 5px; margin-right: 5px">Indicar</button>
        </div>
      </div>

      <div class="box bg-light border rounded-2 col" style="margin-left: 5px">
        <h4 class="text-center">Resultado</h4>
      </div>
    </div>
  {% endif %}
{% endblock %}