{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_superuser %}
    <div class="row mt-3">
      <!-- Inicio div Lista de cargos -->
      <div class="container col border rounded text-center border-0 align-middle" style="
            background-color: rgb(134, 134, 136);
            margin-right: 5px;
            height: 70vh;
            overflow-y: auto;
            justify-content: center;
          ">
        <div class="bg-adm sticky-top">
          <h4 class="text-center mt-2">Lista de cargos</h4>
        </div>
        <div class="" style="margin-top: 50px">
          {% for cargo in cargos %}
            <button id="botton" class="btn btn-primary btn-sm mb-1 col-12" style="background-color: darkslategrey">{{ cargo.name }}</button>
          {% endfor %}
        </div>
      </div>
      <!-- Fim div Lista de cargos -->

      <!-- inicio div Cargos -->
      <div class="flex-row box border rounded-2 col border-0 bg-adm" style="
            height: 70vh;
            margin-right: 5px;
            
          ">
        <div>
          <h4 class="text-center mt-2">Cargo</h4>
          <p class="text-center">Nomes indicados</p>
        </div>

        <div class="m-auto mb-1" style="height: 72%;">
          <div class="input-group input-group-sm mb-1">
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" />
            </div>
            <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
          </div>
        </div>

        <button class="w-100 btn btn-sm btn-success bottom-center" data-toggle="button" style="">Finalizar Indicação</button>
      </div>
      <!-- Fim div Cargos -->

      <!-- inicio div Votação -->
      <div class="box border rounded-2 col border-0" style="
            height: 70vh;
            margin-right: 5px;
            background-color: rgb(136, 134, 134);
          ">
        <div>
          <h4 class="text-center mt-2">Votação</h4>
          <p class="text-center">Nomes</p>
        </div>
        <div class="m-auto mb-1" style="height: 72%;">
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text"><input type="checkbox" name="" id="" /></span>
            <input type="text" class="form-control text-center" aria-label="Amount (to the nearest dollar)"  value="Disabled readonly input" disabled readonly />
            <span class="input-group-text">0</span>
          </div>
        </div>

        <div class="">
          <button class="mb-1 w-100 btn btn-sm btn-success bottom-center" data-toggle="button">Finalizar Votação</button>
        </div>
      </div>
      <!-- fim div Votação -->

      <!-- inicio div Resultado -->
      <div class="box border rounded-2 col border-0 mb-0" style="height: 70vh; background-color: rgb(136, 134, 134)">
        <h4 class="text-center mt-2">Resultado</h4>
      </div>
    </div>
    <!-- Fim div Resultado -->
  {% else %}
    <div class="row mt-3" style="height: 70vh;">
      <div class="box bg-adm border-0 rounded-2 col">
        <h4 class="text-center mt-2">Cargo</h4>
        <p class="text-center">Nomes indicados</p>
        <div class="row justify-content-center">
          <input class="col-auto border-rounded-2" type="text" style="margin-left: 5px; width: 50%" />
          <button class="btn btn-success col-auto" data-toggle="button" style="margin-left: 5px; margin-right: 5px">Indicar</button>
        </div>
      </div>

      <div class="box bg-adm border-0 rounded-2 col" style="margin-left: 5px">
        <h4 class="text-center mt-2">Resultado</h4>
      </div>
    </div>
  {% endif %}
{% endblock %}
